.modal-editor {
  .quill {
    .ql-toolbar {
      border: none;
      padding-left: 0;
      padding-right: 0;
    }

    .ql-container {
      border: none;
    }

    .ql-editor {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
