@include font-face(
  'SFProDisplay',
  '../../../public/fonts/SFProDisplay-Black',
  900,
  normal
);
@include font-face(
  'SFProDisplay',
  '../../../public/fonts/SFProDisplay-Bold',
  bold,
  normal
);
@include font-face(
  'SFProDisplay',
  '../../../public/fonts/SFProDisplay-Semibold',
  600,
  normal
);
@include font-face(
  'SFProDisplay',
  '../../../public/fonts/SFProDisplay-Medium',
  500,
  normal
);
@include font-face(
  'SFProDisplay',
  '../../../public/fonts/SFProDisplay-Regular',
  normal,
  normal
);

* {
  box-sizing: border-box;
}

body {
  background: var(--neutral5);
  font-family: var(--font-display);
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  max-width: 1440px;
  width: 100%;
}

svg {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ql-container {
  min-height: 250px;
}
