@include font-face('CeraPro', "../../../public/fonts/PlayfairDisplay-Regular", var(--regular), normal);
@include font-face('Playfair', "../../../public/fonts/CeraPro-Regular", var(--regular), normal);

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-cera);
  font-size: 15px;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}