@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src: url($path+".woff") format("woff"), url($path+".woff2") format('woff2');
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@mixin small-desktop {
  @media (max-width: 1200px) { @content; }
}

@mixin tablet {
  @media (max-width: 900px) { @content; }
}

@mixin mobile {
  @media (max-width: 768px) { @content; }
}