:root {
  --black: #000000;
  --white: #ffffff;
  --blue: #1966FF;
  --lightBlue: #f0f5ff;
  --green: #00A48B;
  --red: #FF4949;
  --ginger: #FF9C19;
  --grey: #DDDDDD;
  --lightGrey: #F6F6F6;
  
  // fonts
  --font-display: SFProDisplay;
  --font-playfair: Playfair;
  --fallback-font: Arial, Helvetica, sans-serif;
  
  --thin: 300;
  --light: 400;
  --regular: normal;
  --medium: 500;
  --semibold: 600;
  --bold: bold;
  --black: 900;
  
  // breakpoints
  --laptop: 1279px;
  --tablet: 1023px;
  --phone: 767px;
  --phone-xs: 320px;
}