:root {
  --primary1: #5265af;
  --primary2: #f0f5ff;
  --secondary1: #fcc05b;
  --secondary2: #FFF4E2;
  --accentPurple1: #732d8c;
  --accentPurple2: #F6DDFF;
  --accentRose1: #812557;
  --accentRose2: #FFDFF0;
  --error1: #9f2b7d;
  --error2: #FFE7E7;
  --success1: #2BB774;
  --success2: #CAF3DF;
  --shades1: #000000;
  --shades2: #FFFFFF;
  --neutral1: #111212;
  --neutral2: #8E8E8E;
  --neutral3: #CBCBCB;
  --neutral4: #E6E6E6;
  --neutral5: #F5F5F5;
  --gradientDark: linear-gradient(132.46deg, #5265AF 0%, #732D8C 95.94%);
  --gradientLight: linear-gradient(132.46deg, #FCC05B 0%, #9F2B7D 95.94%);
  --gradientLightReverse: linear-gradient(317.63deg, #FCC05B -0.66%, #9F2B7D 115.99%);


  --white: #ffffff;
  --black: #000000;
  --blue: #1966ff;
  --red: #ff2121;
  --ginger: #ff9900;

  // fonts
  --inter: 'Inter';
  --gilroy: 'Gilroy';
  --damion: 'Damion';
  --fallback-font: Arial, Helvetica, sans-serif;

  --regular: 400;
  --medium: 500;
  --semiBold: 600;
  --bold: 700;
  --bolder: 900;

  // breakpoints
  --laptop: 1279px;
  --tablet: 1023px;
  --phone: 767px;
  --phone-xs: 320px;
}
